* {
	box-sizing:  border-box;
	color:  white;
	font-size: small;
}

body {
	background:   #000010;
	font-family:  'Arial', sans-serif;
	margin-top:  20%;
}

.header {
	display:  flex;
	flex-direction:  row;
	justify-content:  space-around;
	border-style:  hidden;
	position:  fixed;
	width:  100%;
	background-color:  #000010;
	z-index:  1;
	margin: 0;
	text-align:  right;
	top:  0;
	cursor:  pointer;
}

.show {
	display:  block !important;
}


nav ul li {
	display:  inline;
	list-style-type:  none;
}

 li a {
	color:  white;
	text-decoration:  none;
	padding:  15px;
}

li a:hover {
	color:  lime;
}

li a.active  {
	color:  lime;
}


.hidden {
	display:  none;
}

#nav-last {
	background-color:  green;
	padding:  10px;
}

#nav-last:hover {
	color:  white;
	opacity:  0.6;
}

#settings {
	display:  flex;
	justify-content:  center;
	align-items:  center;
	flex-direction:  column;
	display:  none;
}

.color { 
 height: 230px; 
 width: 18rem; 
 margin-bottom: 18px; 
 background: #000000; 
 border-radius: 10px; 
 display: flex; 
 align-items: center; 
 justify-content: center; 
 flex-direction:  column;
 box-shadow: 20px 20px 40px -6px rgba(255, 255, 255, 0.08); 
 transition: ease-in-out 0.78s; 
 } 
 
 .bgcolor { 
 height: 230px; 
 width: 18rem; 
 margin-bottom: 18px; 
 background: #000000; 
 border-radius: 10px; 
 display: flex; 
 align-items: center; 
 justify-content: center;
 flex-direction:  column;
 box-shadow: 20px 20px 40px -6px rgba(255, 255, 255, 0.08); 
 transition: ease-in-out 0.78s; 
 } 
 
 .stt {
	 display:  flex;
	 flex-direction:  row;
 }
 
 .bgcolor .stt span, .color .stt span{
	 padding:  10px;
 }
 


.dropdown {
	display:  none;
}

img.bb {
	width:  50%;
	height:  35%;
	border-radius:  50%;
	margin:  0 20% 0  0;
	z-index: -1;
}

.e {
	color:  lime;
	text-shadow:  0 0 3px black, 0 0 5px #00FF20;
}

.h1 {
	color:  white;
	font-weight:  bold;
}

.c {
	display:  flex;
	justify-content:  space-around;
	align-items:  center;
	flex-direction:  row;
}
	
h3, h4 {
	color:  white;
	font-weight:  500;
}

h1 {
	font-size:  3rem;
	color:  white;
}

h3.new {
	display:  none;
		text-align: left;
}		

.hire {
	display:  inline-block;
	padding:  25px 15px;
	background:  #10FF20;
	color:  white;
	font-weight:  bold;
	border:  1px solid none;
	font-size:  large;
	box-shadow:  0 0 7px #00FF00;
	text-decoration:  none;
	width:  100%;
	text-align:  center;
	border-radius:  10px;
}

.hire:hover {
	opacity:  0.7;
}

.icons .fa {
	color:  black;
	border-radius:  50%;
	background:  white;
	text-align:  center;
	padding:  5px;
	position:  sticky;
	bottom:  0;
}

.d {
	color:  lime;
	font-weight:  600;
}

.h {
	font-weight:  bold;
}

#about {
	margin-top:  30%;
	background:  rgba(0,0,10,0.6);
	padding:  20px;
	border:  1px solid white;
	border-style:  none none solid none;
	text-align:  center;
	width:  100%;
	display: flex;
	flex-direction:  column;
	justify-content:  space-evenly;
	display:  none;
	flex-wrap: wrap;
}

.closebtn {
	display:  none;
}


@media only screen and (max-width:  600px), (max-width:  720px) {
	.header {
	width:  100%;
	background:  #000010;
	display:  flex;
	align-items:  center;
	justify-content:  space-between;
	top:  0;
	z-index:  1;
	position:  fixed;
	border-style:  hidden;
	text-align:  left;
	cursor:  pointer;
	height:  8vh;
	padding:  3px;
}

.show {
	display:  block;
}

.dropdown {
	display:  block;
	position:  relative;
	font-size:  1.5em;
	margin:  0;
	top:  0;
	right:  0;
}

.cnt {
	display: none;
	position:  absolute;
	z-index:  1;
	width:  50%;
	background:   #000010;
	box-shadow:  0 0 4px black;
	height:  100vh;
	right:  0;
	text-align:  left;
	transition:  width 2s;
	padding:  5% 2px 2px 2px;
}

.cnt li a {
	display:  block;
	color:  white;
	padding:  15px;
	text-decoration:  none;
	transition:  0.3s;
}

.cnt li a:hover {
	background:  lime;
}

.closebtn {
 display:  block;
  position: absolute;
  top: 0;
  right: 25px;
  text-decoration:  none;
}

.closebtn:hover {
	color: lime;
}

#about {
	display:  flex;
	flex-direction:  column;
	display:  none;
}

img2 {
	display:  flex;
	align-items:  flex-start;
	justify-content: flex-start;
}


 .content {
	/*margin-top:  20%;
	background-image:  url('Chrysanthemum.jpg');
	background-position:  center;
	background-size:  100%;
	background-attachment:  scroll;
	background-repeat:  no-repeat;*/
	width:  100%;
	height:  100vh;
	padding:  20% 0 20% 0;
	
}

img.bb {
	display:  none;
}
.hh1 {
	font-size:  1rem;
}
p{
	font-size:  0.7rem;
}
.skills-box span {
	font-size:  .7rem;
}
a.dwn {
	padding:  5px 15px;
}
.f-orm {
	width:  100%;
	border:  none;
	box-shadow:  none;
}
button {
	padding:  5px 15px;
}

/*.b1, .b2, .b3 {
	height:  5rem;
	border-radius:  10px;
}

.block {
	display:  flex;
	justify-content:  space-between;
	padding:  20%;
}*/

}


.cxxt {
	width:  100%;
	display:  inline-block;
	position:  relative;
	border:   1px solid none;
	align-self:  flex-end;

}

img.bc {
	max-width:  50%;
	height:  100%;
	width:  100%;
	align-self:  flex-start;
	margin-left:  -20%;
	
}

a.dwn {
	background:  lime;
	color:  white;
	display:  inline-block;
	padding:  15px 25px;
	border:  1px solid lime;
	border-radius:  20px;
	text-decoration:   none;
}

a.dwn:hover {
	opacity:  0.7;
}
	
#services{
	text-align:  center;
	margin-top:  30%;
	display:  none;
}
	
	
.block {	
	display:  flex;
	justify-content:  space-between;
	flex-direction:  row;
	align-items:  center;
	flex-wrap:  wrap;
	background:  rgba(0,0,10,0.6);
	border-bottom:  1px solid lime;
	padding:  50px;
}

.b1, .b2, .b3 {
	display:  flex;
	flex-direction:  column;
	border:  1px solid none;
	padding:  10px;
	background:  rgba(255,255,255,0.1);
	width:  32%;
	height:  20rem;
	border-radius:  20%;
	text-align:  center;
	box-shadow:  2px 4px 10px  black;
}

.h-h {
	font-size:  1.2rem;
}

.icon3 .fa {
	font-size:  1.8rem;
	color:  lime;
	
}


#skills {
	margin-top:  30%;
	width:  100%;
}

.skills-container {
	width:  100%;
	background:   rgba(0,0,10,0.6);
	border-bottom:  1px solid white;
	padding:  20px;
}

.skills-box .skill-ov {
	width:  100%;
	position:  relative;
	height:  .5rem;
	border-radius:  .5rem;
	background:  #000000;
}

.skills-box .skill-bar {
	background:  lime;
	height:  .5rem;
	border-radius:  .5rem;
}

.skills-box .html {
	width:  96%;
}

.skills-box .css {
	width:  90%;
}

.skills-box .javascript {
	width:  63%;
}

.skills-box span {
	position:  absolute;
	bottom:  0;
	right:  0;
}

.right {
	padding-top:  20px;
	text-align:  right;
}

#contacts {
	background:  rgba(0,0,10,0.6);
	border-bottom:  1px solid lime;
	width:  100vw;
	height:  100vh;
	text-align:  center;
	display:  flex;
	justify-content:  space-around;
	flex-wrap:  wrap;
	flex-direction:  row;
	padding:  50px 50px 100rem 50px;
	display:  none;
	margin-bottom:  10rem;
}

#contacts .rep, .rep1, .rep2, .rep3, .rep4 {
 border: 1px solid none;
 padding:  10px;
 background:  rgba(255,255,255,0.1);
 width:  15rem;
 height:  15rem;
 border-radius:  10px;
 text-align:  center;
 box-shadow:  2px 4px 10px  black;
 margin: 10px auto;
 
}

.f-orm {
	width:  100%;
	height:  100%;
	padding:  3px 4px 5px 3px;
	text-align:  center;
	background:  none;
	border: 1px solid none;
	/*margin:  10% 0 0 30%*/
}

input[type=text], input[type=email], textarea {
	width:  50%;
	height:  10vh;
	border-color:  lime;
	border-style:  none none solid none;
	font-size:  thin;
	background:  none;
	color:  white;
}

button[type=submit] {
	background:  lime;
	color:  white;
	display:  inline-block;
	padding:  15px 25px;
	border:  1px solid lime;
	border-radius:  20px;
	text-decoration:   none;
}

button[type=submit]:hover {
opacity:  0.7;
}

footer {
	padding:  10px;
}
	
	
.dark-mode {
	background:  #454545;
}

.pane {
	display:  none;
}

.dwn.shine {
	background:  green;
}

.nav-links.active {
		color:  #D2D2D2;
}

@media only screen and (max-width:  400px), (max-width:  412px), (max-width:  375px), (max-width:  600px) {
body #home {
	background-image:  url('vdark.jpg');
	background-position:  center;
	background-size:  cover;
	background-attachment:  fixed;
	background-repeat:  no-repeat;
}

#services .block {
	display:  flex;
	justify-content:  space-around;
	flex-direction:  column;
}

.b1, .b2, .b3 {
	width:  15rem;
	height:  15rem;
	padding:  22px;
    margin:  10px;
}

.nav-links.active {
		color:  #313131;
		opacity: 0.8;
}


}